<html>
  <head>
    <!-- prettier-ignore -->
    <title><%=message.user%>'s message</title>
  </head>
  <body>
    <%= message.user %> <%= message.text %> <%= message.added %>
    <a href="/">Back to the message board!</a>
  </body>
</html>
