<html>
  <head>
    <title>New Messages</title>
  </head>
  <body>
    <form method="post" action="/new">
      <h1>New Message Form</h1>
      <label for="name">Author</label>
      <input type="text" name="name" />
      <label for="message">Message</label>
      <input type="text" name="message" />
      <button>Submit</button>
    </form>
  </body>
</html>
